Статистика игрока {{ .mojang.Name }} на Skyblock
Профиль: {{ .profile.CuteName }}

HP: {{ .member.Attributes.Health }} | EHP: {{ .member.Attributes.EffectiveHealth }}
Defense: {{ .member.Attributes.Defense }} | True Defense: {{ .member.Attributes.TrueDefense }}
Strength: {{ .member.Attributes.Strength }}
Attack Speed: {{ .member.Attributes.BonusAttackSpeed }}%
Crit Chance: {{ .member.Attributes.CritChance }}% | Crit Damage: {{ .member.Attributes.CritDamage }}%
Intelligence: {{ .member.Attributes.Intelligence }}

Purse: {{ printf "%.2f" .member.Purse }}
Bank: {{ printf "%.2f" .profile.Banking.Balance }}

Average: {{ printf "%.2f" .member.Average }}

Taming level: {{ .member.Skills.Taming }}
Farming level:{{ .member.Skills.Farming }}
Mining level: {{ .member.Skills.Mining }}
Combat level: {{ .member.Skills.Combat }}
Foraging level: {{ .member.Skills.Foraging }}
Fishing level: {{ .member.Skills.Fishing }}
Enchanting level: {{ .member.Skills.Enchanting }}
Alchemy level: {{ .member.Skills.Alchemy }}
Carpentry level: {{ .member.Skills.Carpentry }}
Runecrafting level: {{ .member.Skills.Runecrafting }}

Zombie | Spider | Wolf | Enderman
{{ .member.Slayers.String }}
Всего XP: {{ .member.Slayers.TotalXP }}